/*body {
    background: black;
    color: white;
}
*/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.error-color {
    color: #ff0033;
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.display-inline {
    display: inline;
}

/* ==========================================================================
   Code For User NavBar
   ========================================================================== */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/* ==========================================================================
   Update Modal
   ========================================================================== */
#update_modal_idpost {
    cursor: pointer;
    color: blue;
}

#like-panel a {
    color: black;
}

#like-panel .like-icon {
    font-size: 4em;
    padding: 0.2em;
}

#like-panel .like-text {
    font-size: 2.5em;
}

.comment-action-panel {
    padding: 1em;
}