{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
        {% if posts %}
            {% for post in posts %}
                <!-- Blog Post Content Column -->
                

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1><a href="/blog/{{ post.key.id() }}">{{ post.subject }}</a></h1>

                    <!-- Author -->
                    <p class="lead">
                        by <strong>{{ post.user.get().username }}</strong>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>

                    <hr>

                    <!-- Post Content -->
                    <p>{{ post.content }}</p>

                    <hr>
            {% endfor %}
        {% else %}
            {% if user %}
                <h2 class="text-center">There are any Posts, <a href="/blog/newpost">Create new Post!</a></h2>
            {% else %}
                <h2 class="text-center">There are any Posts, <a href="/login">Login to create a new Post!</a></h2>
            {% endif %}
        {% endif %}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
