{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
            {% for post in posts %}
                <!-- Blog Post Content Column -->
                

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1><a href="/blog/{{ post.key.id() }}">{{ post.subject }}</a></h1>

                    <!-- Author -->
                    <p class="lead">
                        by <a href="#">{{ post.user.get().username }}</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>

                    <hr>

                    <!-- Post Content -->
                    <p>{{ post.content }}</p>

                    <hr>
            {% endfor %}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
