{% extends "base.html" %}
{% block content %}
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ post.subject }}</h1>

            <!-- Author -->
            <p class="lead">
                by <a href="#">{{ post.user.get().username }}</a>
            </p>
            
            {% if post.user == user.key %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/blog/updatepost/{{ post.key.id() }}" class="btn btn-success">Editar</a>
                        <form method="post" action="/blog/deletepost/{{ post.key.id() }}" style="display: inline;">
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                        </form>
                    </div>
                </div>
            {% endif %}

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>

            <hr>

            <!-- Post Content -->
            <p>{{ post.content }}</p>

            <hr>
            <!-- like section -->
            {% if post.user != user.key %}
                <div class="row">
                    <div class="col-xs-12" id="like-panel">
                        <form id="like-form" method="post" action="/blog/likepost/{{ post.key.id() }}">
                        {% if user %}
                            {% if like %}
                                <a href="#" id="like-button" title="Unlike"><i class="fa fa-thumbs-up like-icon" aria-hidden="true"></i></a>
                                <span class="like-text">{{ post.likes }}</span>
                            {% else %}
                                <a href="#" id="like-button"><i class="fa fa-thumbs-o-up like-icon" aria-hidden="true" title="like"></i></a>
                                <span class="like-text">{{ post.likes }}</span>
                            {% endif %}

                        {% else %}
                            <i class="fa fa-thumbs-up like-icon" aria-hidden="true"></i></a>
                                <span class="like-text">{{ post.likes }}</span>
                        {% endif %}
                        </form>
                        
                    </div>
                </div>
            {% endif %}
            <!-- /endlike -->

            <!-- Blog Comments -->
            {% if user %}
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" method="post" id="comments-form">
                        <input type="hidden" name="post_id" id="post_id" value="{{ post.key.id() }}">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="content" id="comment-input"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="comments-form-submit">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->
                <div id="comments">
                <!-- Comment -->
                {% for comment in comments %}
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">  {{ comment.user.get().username }}
                                <small>{{ comment.date|string }}</small>
                            </h4>
                            {{ comment.content }}
                        </div>
                        {% if comment.user == user.key %}
                            <div class="row">
                                <div class="col-xs-12 comment-action-panel">
                                    <a href="#" class="btn btn-success">Editar</a>
                                    <form id="delete-comment-form" method="post" action="/blog/deletecomment/{{ comment.key.id() }}" class="display-inline">
                                        <a href="#" class="btn btn-danger comment-deleter">Eliminar</a>
                                    </form>
                                    
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            <!-- Comment -->
            <!-- <div class="media">
            
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    
                    <h4 class="media-heading"> Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                    nested
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>
 -->
        </div>
    </div>
    <!-- /.row -->

    {% block custom_scripts %}
        <script type="text/javascript" src="/static/js/comments.js"></script>
        <script type="text/javascript" src="/static/js/like.js"></script>
    {% endblock %}
{% endblock %}
