/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

* {
    box-sizing: border-box;
}

body {

}

article {
    margin: 0 auto;
    max-width: 50em;
}

h1 {

}

img {
    max-width: 100%;
}

.social-icons {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.social-icons-element {
    width: 100%;
    margin-top: 10px;
}

.zocial {
    font-size: 1em;
}

@media screen and (min-width: 700px) and (max-width: 1045px) {
    .social-icons-element {
        width: calc((100% - 10px) / 2);
    }

    .social-icons-element:nth-child(odd) {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1045px) {
    .social-icons {
        flex-wrap: nowrap;
    }

    .social-icons-element {
        width: 25%;
    } 

    .social-icons-element:not(:last-child) {
        margin-right: 0.5em;
    } 
}

